body {
    background-color: rgb(159, 188, 226);
}
#home {
    font-size: 20px;
    text-align: center;
    background-color: rgb(83, 135, 180);
}

#traditional {
    font-size: 40px;
    font-family: "Rye", serif;
    font-weight: 400;
    text-align: center;
}

h1 {
    text-align: center;
    display: absolute;
    height: 80px;
  font-family: "Rye", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 70px;
}

h2 {
    text-align: center;
    font-family: "Rye", serif;
    font-weight: 400;
    font-size: 30px;
    height: 40px;
    background-color: rgb(229, 238, 255);
    border-radius: 30px;
}

h3 {
    text-align: center;
    color: rgb(82, 91, 138);
    font-size: 20px;
    background-color: rgb(205, 218, 243);
    border-radius: 50px;
}

#art1 {
    display: flex;
    width: 30%;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-left: 35%;
}

#art2 {
    display: flex;
    width: 30%;
    width: 30%;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-left: 35%;
}

#art3 {
    display: flex;
    width: 30%;
    width: 30%;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-left: 35%;
}

#art4 {
    display: flex;
    width: 30%;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-left: 35%;
}

#art5 {
    display: flex;
    width: 30%;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-left: 35%;
}

#art6 {
    display: flex;
    width: 30%;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-left: 35%;
}

#art7 {
    display: flex;
    width: 30%;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-left: 35%;
}

#art8 {
    display: flex;
    width: 30%;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-left: 35%;
}

#art9 {
    display: flex;
    width: 30%;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-left: 35%;
}

#digital {
    font-size: 50px;
    font-family: "Rye", serif;
    font-weight: 400;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

#art10 {
    display: flex;
    width: 30%;
    padding-top: 80px;
    padding-bottom: 50px;
    margin-left: 35%;
}

#art11 {
    display: flex;
    width: 30%;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-left: 35%;
}

#art12 {
    display: flex;
    width: 30%;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-left: 35%;
}

#art13 {
    display: flex;
    width: 30%;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-left: 35%;
}

#art14 {
    display: flex;
    width: 30%;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-left: 35%;
}